@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    /* фонт фамили микрома это шрифт который добавили с сайта а слово
     сериф это добавили запасной универсальный шрифт если основной не прогрузится */
    font-family: Michroma, serif;
    /* ниже это картинка фона в скобки вставвляес код изображения с браузера */
    background: url(https://images.wallpaperscraft.ru/image/single/fon_gradient_fioletovyj_1329269_2560x1600.jpg);

}

p {
    color: rgb(0, 0, 0);
}


.nav-link {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: black;
}
/* все что выше это верхняя
 навигационная паенль ссылки кнопки итд */

 .sidebar {
    color: rgb(0, 0, 0);
    background: linear-gradient(270deg, #f8e0053f 1%, #d0d0d0 89%);
}

.card {
    background: linear-gradient(270deg, #f8e0053f 1%, #d0d0d0 89%);
}

.card a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.slide-text,
.footer-text {
    color: rgb(225, 17, 17);
    /* маржин авто авто это и по икс и по игрику задать
     автоматическое центральное положение */
    margin: auto auto;
}

footer,
.btn-outline-primary {
    
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 100 normal backwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

.play {
    margin-left: -3.5%;
}

.btn-primary {
    background: linear-gradient(270deg, #f8e0053f 1%, #d0d0d0 89%);
}

.informacia-games {
    background-color: rgb(238, 234, 139);
}
